<div class="container">
    <app-header></app-header>
</div>
<div class="container">
  <form>
    Brief Description: <input #short type="text" value="{{incident.incidentrevisions[revision].shortDescription}}" class="form-control">
    Detailed Description: <textarea #long class="form-control" >{{incident.incidentrevisions[revision].longDescription}}</textarea>
    Incident Type: 
    <select #type class="form-control">
      <option value="Technical">Technical</option>
      <option value="Other">Other</option> 
    </select>
    Tracker: 
      <select #tracker class="form-control">
          <option *ngFor="let tracker of trackers" value="{{tracker.id}}">{{tracker.firstName}} {{tracker.lastName}}</option>
      </select>
    <div *ngIf="user.isTracker">
      Resolution: <textarea #resolution class="form-control">{{incident.incidentrevisions[revision].resolution}}</textarea>
      Severity: 
      <select #severity class="form-control">
        <option value="1">Security Weaknesses</option>
        <option value="2">Minor Incidents</option>
        <option value="3">Major Incidents</option>
      </select>
      <br>
      <button (click)="update(short.value, long.value, type.value, tracker.value, resolution.value, severity.value)" class="btn btn-default">Submit</button>
    </div>
    <div *ngIf="!user.isTracker">
        <br>
      <button (click)="update(short.value, long.value, type.value, tracker.value)" class="btn btn-default">Submit</button>
    </div>
  </form>
</div>