<div class="container">
  <form>
    Brief Description: <input type="text" name="shortDescription" value="{{incident.incidentrevisions[0].shortDescription}}" class="form-control">
    Detailed Description: <textarea name="longDescription" class="form-control" >{{incident.incidentrevisions[0].longDescription}}</textarea>
    Incident Type: <input type="text" name="type" value="{{incident.incidentrevisions[0].type}}" class="form-control">
    Tracker: <input type="text" name="tracker" value="{{incident.trackerId}}" class="form-control">
    <br>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>