.well {
    background-color: darkgray;
    padding: 1em;
    border-radius: 0.5em;
}
.success{
    color: green;
    text-shadow:
		-0.5px -0.5px 0 #000,
		0.5px -0.5px 0 #000,
		-0.5px 0.5px 0 #000,
		0.5px 0.5px 0 #000;
}
.warning{
    color: #a0a001;
    text-shadow:
		-0.5px -0.5px 0 #000,
		0.5px -0.5px 0 #000,
		-0.5px 0.5px 0 #000,
		0.5px 0.5px 0 #000;
}
.danger{
    color: red;
    text-shadow:
		-0.5px -0.5px 0 #000,
		0.5px -0.5px 0 #000,
		-0.5px 0.5px 0 #000,
		0.5px 0.5px 0 #000;
}

.card{
    margin-bottom: 10em;
    background-color: #dddddd;
}
