<app-header></app-header>
<div class="container">
  <p style="color: red;">{{error}}</p>
  <form>
    Email: 
    <input #email type="text" class="form-control" [(ngModel)]="user.email" name="email">
    Password: 
    <input #password type="password" class="form-control" [(ngModel)]="user.password" name="password">
    Tracker:
    <select #tracker class="form-control" [(ngModel)]="user.isTracker" name="tracker">
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select> 
    <br>
    <button (click)="addUser()" class="btn btn-default">Create</button>
    <button type="button" class="btn btn-danger" routerLink="/incidents">Cancel</button>
  </form>
</div>