<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Incident Tracking</a>
            </div>
            <ul class="nav navbar-nav">
                <li>Justin True<!--insert username here--></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Maestro</a>
        </div>
    </div>
</nav>