<nav class="navbar navbar-default" *ngIf="user">
  <div class="container">
      <div class="navbar-header">
          <button type="button" (click)="info()" class="btn btn-link"><h4>{{user.firstName}} {{user.lastName}}</h4></button>
      </div>
      <ul class="nav navbar-nav">
          <li><h3>Incident Tracking</h3></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><button class="btn btn-default" (click)="logout()">Logout</button></li>
      </ul>
  </div>
</nav>
<br>
<br>